<!DOCTYPE html>
<html lang="nn">

<head>
  <meta charset="UTF-8">
  <title>Nynorsk Rimordbok</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width"/>

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-144018055-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <script type='application/javascript' src="lib/vue.js/vue.js"></script>
  <script type='application/javascript' src="lib/axios/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <div id="header">
    <nrheader></nrheader>
  </div>
<div id="data-wrapper" v-cloak>

  <form v-on:submit.prevent="requestRhymes()">
    <input
      @click="select()"
      type="text"
      v-model="text"
      id="search"
      required
    >
    <button type="submit" :disabled="loading">Finn rimord</button>
    <button :disabled="loading" v-on:click.prevent="requestRandomWord()">Tilfeldig ord</button>
    <img v-if="loading" id="loading-icon" src="/img/ajax-loader.gif"
    alt="Leitar etter rimord...">
  </form>

  <h3 v-if="!loading && result && !result.groups.length">
    Me finn ingen ord som rimar på {{ searchText }}
  </h3>
  <h3 v-if="!loading && errorMessage">
    {{ errorMessage }}
  </h3>
  <div v-if="!errorMessage && result && searchText !== ''" id="definition">
    definisjonen av <a target="_blank" :href="'https://ordbok.uib.no/perl/ordbok.cgi?OPP='+searchText+'&ant_nynorsk=5&nynorsk=+&ordbok=nynorsk'">{{searchText}}</a>
  </div>
  <div v-if="!errorMessage" v-for="group in result && result.groups">
    <h3>{{ group.num_syllables }} {{ group.num_syllables === 1 ? 'staving' : 'stavingar' }}</h3>
    <ul>
      <li v-for="(rhyme, index) in group.rhymes">
        <a :class="rhyme.score > 100 ? 'good-match' : (rhyme.score < 80 ? 'bad-match' : '')"
           :href="rhyme.url"
           target="_blank">{{ rhyme.word }}</a>{{ index < result.groups.length - 1 ? ',' : '' }}
      </li>
    </ul>
  </div>
</div>

<footer id="footer">
  <nrfooter></nrfooter>
</footer>

<script src="js/utils.js"></script>
<script src="js/app.js"></script>

</body>

</html>
