<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Nynorsk Rimordbok</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width"/>

  <script src="lib/vue.js/vue.js"></script>
  <script src="lib/axios/axios.min.js"></script>

  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body>
  <header>
    <a href="/"><img id="logo" src="img/logo.png"><h1>Nynorsk<br>Rimordbok</h1></a>
  </header>
  <div id="data-wrapper" v-cloak>

  <form v-on:submit.prevent="requestRhymes()">
    <input
        type="text"
        v-model="text"
        style="min-width: 280px"
        id="search"
        required
    ><button type="submit" :disabled="loading">Finn rimord</button>
    <img v-if="loading" id="loading-icon" src="/img/ajax-loader.gif" alt="Leitar etter rimord...">
  </form>

  <h3 v-if="!loading && result && !result.rhymes.length">
    Me finn ingen ord som rimar
  </h3>
  <ul v-if="result">
    <li v-for="(rhyme, index) in result.rhymes">
      <a :class="rhyme.score > 100 ? 'good-match' : (rhyme.score < 80 ? 'bad-match' : '')" :href="'https://ordbok.uib.no/perl/ordbok.cgi?OPP='+rhyme.word+'&ant_nynorsk=5&nynorsk=+&ordbok=nynorsk'" target="_blank">{{ rhyme.word }}</a>{{ index < result.rhymes.length - 1 ? ',' : '' }}
    </li>
  </ul>
</div>

<script src="js/utils.js"></script>
<script src="js/app.js"></script>

</body>

</html>
