{% extends "base.html" %}

{% block title %}Om Nynorsk Rimordbok{% endblock %}

{% block content %}
<h2>Om Nynorsk Rimordbok</h2>
<p>
  På denne nettstaden er det mogleg å søkje på rimord i det
  nynorske skriftspråket. Til dømes om ein vil ha eit rimord
  til <a href="/?ord=hotell">"hotell"</a>, kjem det opp ord
  som <a href="/?ord=hagestell">"hagestell"</a>. Eit utheva ord
  rimar mest på søkjeordet.
</p>
<p>
  Nettstaden er laga i samband med diktinga til ARU Stories
  (<a href="https://arustories.com" target="_blank" rel="noopener">arustories.com</a>).
  Hos ARU Stories kan ein lese og høyre små historiar og dikt for
  store og små, samt lese små teikneseriestriper og sjå korte videosnuttar.
</p>
<p>
  Dette prosjektet har open kjeldekode, som ein finn på
  <a href="https://github.com/iver56/nynorsk-rimordbok" target="_blank" rel="noopener">github.com/iver56/nynorsk-rimordbok</a>.
  Har du forslag til forbetringar, kan du leggje til ein
  <a href="https://github.com/iver56/nynorsk-rimordbok/issues/new" target="_blank" rel="noopener">"issue"</a> på
  github.
</p>

<div class="mark">
  <p>Laga av:</p>
  <ul class="list">
    <li>Iver Jordal (<a href="https://github.com/iver56/" target="_blank" rel="noopener">github.com/iver56/</a>)</li>
    <li>Rune Eikemo - ARU Stories (<a href="https://github.com/eikenottt/" target="_blank" rel="noopener">github.com/eikenottt/</a>)</li>
  </ul>
</div>
{% endblock %}
