<!DOCTYPE html>
<html lang="nn">

<head>
  <meta charset="UTF-8">
  <title>{% block title %}Nynorsk Rimordbok{% endblock %}</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width"/>

  <!-- Google Analytics -->
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-144018055-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- End Google Analytics -->

  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
<div id="header">
  <header>
    <a href="/"><img class="logo" src="/img/logo_2.svg" alt="NR">
      <h1>Nynorsk<br>Rimordbok</h1></a>
  </header>
</div>
<div id="data-wrapper">{% block content %}{% endblock %}</div>

<footer id="footer">
  <div>
    <img class="logo" src="/img/logo_2.svg" alt="NR">
    <h4>Nynorsk Rimordbok</h4>
    <ul>
      <li><a href="/about/">Om Nynorsk Rimordbok</a></li>
      <li><a href="https://arustories.com" target="_blank" rel="noopener">arustories.com</a></li>
    </ul>
  </div>
</footer>

</body>

</html>
